<form action="/" method="post" enctype="multipart/form-data">
  <label for="name">name:</label>
<input type="text" name="name" /><br/><br/>
<label for="description">description:</label>
<input type="text" name="description"/><br/>
<label for="category">category:</label>
<input type="text" name="category"/><br/>
<label for="price">price:</label>
<input type="number" name="price"/><br/><div class=""></div>
<label for="stock">stock:</label>
<input type="number" name="stock"/><br/>
<input type="file" name="avatar" /><br/><br/>
<button type ="submit">Submit</button>
</form>
