<form action="/update" method="post">
    <label for="name">name:</label>
  <input type="text" name="name" /><br/><br/>
  <label for="newname">newname:</label>
  <input type="text" name="newname"/><br/>
  <button type ="submit">Submit</button>
  </form>
  